.cajita {
  background-image: url("../images/inicio.jpg");
  width: 100%;
  height: 1200px;
  background-size: cover;
}

.cajaBoton {
  padding-top: 300px;
  padding-left: 850px;
}

.boton {
  border-radius: 25px;
  height: 100px;
  width: 400px;
  background-color:  #000000;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}
.juego {
  width: 100%;
  height: 800px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-around;
}

#mostrarJuego {
  display:none;
}

#myCanvas {
  border : solid black;
  }

.listado{
  height: 900px;
  width: 500px;
}

#score {
  height: 120px;
  width: 500px;
  border: solid black;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-align: center;
  background-color: #e0e0eb;
}

.vidas {
  height: 280px;
  width: 500px;
  border: solid black;
  display: flex;
  flex-direction: column;
  
 
}
.instrucciones {
  font-size: 50px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  
}
.textoImagen {
  flex-direction: column;
 justify-content: center;

}
.textoCursores {
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-family: 'Life Savers', cursive;
}

.teclas {
  margin-left: 170px;
  padding-top: 20px;
}
.nombre-plato {
  height: 200px;
  width: 500px;
  background-color: black;
}

.titulo {
  font-size: 50px;
  text-align: center;
  padding: 30px 20px 20px 20px;
  color: white;
  font-family: 'Amatic SC', cursive;
}

.listadoIngredientes {
  height: 250px;
  width: 500px;
  border: solid black;
  }

.tituloListado {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Life Savers', cursive;
}

.pepino,
.barbacoa,
.huevo,
.mahonesa,
.mostaza,
.pepino,
.bacon,
.carne,
.cebolla,
.ketchup,
.lechuga,
.patatas,
.pimientoRojo,
.pimientoVerde,
.tomate,
.panHamburguesa,
.queso{
  width: 80px;
}

#tryAgain{
position: absolute;
top: 400px;
left: 850px;
display:none;
}
.botonAgain {
  border-radius: 25px;
  height: 100px;
  width: 400px;
  background-color: white;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}